# Byte-compiled
__pycache__/
*.py[codz]
*$py.class

# PyInstaller
*.manifest
*.spec

# Translations
*.mo
*.pot

# Flask
instance/
.webassets-cache

# (Virtual) Environments
.venv/
.venv
.env/
.env

# VSCode / PyCharm / IDE and editors
.idea/
.vscode/
